@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background: linear-gradient(90deg, #EDAEF9, #81B1FA);
}

h1 {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25vw;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    padding: 5px 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    transition: all 0.2s linear;
    font-size: 16px;
}


input:hover, input:focus{
    scale: 1.03;
}


button {
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: none;
    background-color: #4CAF50;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #45a049;
    scale: 1.05;
}