@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    background: linear-gradient(90deg, #EDAEF9, #81B1FA);
}

.navbar {
    width: calc(100% - 60px);
    height: 70px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 50px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 30px;
    align-items: center;
    font-size: 21px;
    margin-bottom: 40px;
}

.greeting {
    user-select: none;
}

.logout img {
    cursor: pointer;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 30vw;
    padding: 40px 15px 40px 15px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 50px;
    border-radius: 20px;
}

.box div{
    padding: 5px 15px;
    width: 55%;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    height: 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.2s linear;
    border-radius: 10px;
}

.box div:hover{
    height: auto;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 50px;
}

.box div a{
    text-decoration: none;
    outline: none;
    color: black;

}


.button {
    position: relative;
    width: 55%;
    height: 40px;
    background:transparent;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  