<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="./style/student_login.css">
</head>
<body>
    
    <!-- Flash error messages if any -->
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %} -->
    <div class="wrapper">
      <form method="post" action="{{ url_for('auth.login') }}">
        <h2>Student Login</h2>
        <!-- <label for="user_id" class="userId">User ID:</label> -->
        <input type="text" id="user_id" name="user_id" placeholder="Student ID" spellcheck="false" required>
        <!-- <label for="user_password" class="pass">Password:</label> -->
        <input type="password" id="user_password" name="user_password" placeholder="Password" spellcheck="false" required>
        <input type="submit" value="Login" class="login_button">
      </form>
    </div>

</body>
</html>