<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
    
</head>
<body>
    <div class="navbar">
        <div class="greeting">Welcome Admin</div>
        <a href="{{ url_for('auth.logout') }}" class="logout"><img src="{{ url_for('static', filename='assets/icons8-logout-48.png') }}" alt="Logout">
        </a>
    </div>
    <div class="box">
        <div class="student ">
            <a href="{{ url_for('students.view_students') }}">Students</a>
        </div>
        <div class="course">
            <a href="{{ url_for('courses.view_courses') }}">Courses</a>
        </div>
        <div class="instructor">
            <a href="{{ url_for('instructors.view_instructors') }}">Instructors</a>
        </div>
        <div class="department">
            <a href="{{ url_for('departments.view_departments') }}">Departments</a>
        </div>
    </div>
</body>
</html>