<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Department</title>
    <link rel="stylesheet" href="./style/view_department.css">
</head>
<body>
    <h1>Departments</h1>
    <table>
        <thead>
            <tr>
                <th>Department ID</th>
                <th>Department Name</th>
            </tr>
        </thead>
        <!-- {% for department in departments %} -->

        <tbody>
            <tr>
                <td>{{ department.department_id }}</td>
                <td>{{ department.department_name }}</td>
            </tr>
        </tbody>
        <!-- {% endfor %} -->
    </table>

    <div class="links">
        <!-- {% if current_user.is_authenticated %} -->
            <a href="{{ url_for('departments.add_department') }}">Add Department</a>
            <a href="{{ url_for('dashboard.admin_dashboard') }}">Home</a>
        <!-- {% else %} -->
            <p>Go to <a href="{{ url_for('auth.login') }}">Login</a> page.</p>
        <!-- {% endif %} -->
    </div>
</body>
</html>
