<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Student Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/nitish_new/view_full_student_info.css') }}">
</head>
<body>
<div class="container">
    <h1>Student Information</h1>
    <hr>
    <div>
        <p><strong>Student ID:</strong> {{ student.student_id }}</p>
        <p><strong>Name:</strong> {{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</p>
        <p><strong>Sex:</strong> {{ student.sex.value if student.sex else None }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>
        <p><strong>Degree:</strong> {{ student.degree_name }}</p>
        <p><strong>Graduation Level:</strong> {{ student.grad_level }}</p>
        <p><strong>Address:</strong> {{ student.address }}, {{ student.city }}, {{ student.state }}, {{ student.address_pin }}</p>
        <p><strong>Father's Name:</strong> {{ student.father_name }}</p>
        <p><strong>Mother's Name:</strong> {{ student.mother_name }}</p>
        <p><strong>Date of Birth:</strong> {{ student.dob }}</p>
        <p><strong>Blood Group:</strong> {{ student.bloodgroup }}</p>
        <p><strong>Date of Admission:</strong> {{ student.doa }}</p>
        <p><strong>Father's Occupation:</strong> {{ student.father_occ }}</p>
        <p><strong>Mother's Occupation:</strong> {{ student.mother_occ }}</p>
        <p><strong>Student Phone Number:</strong> {{ student.student_phoneno }}</p>
        <p><strong>Guardian Phone Number:</strong> {{ student.guardian_phoneno }}</p>
    </div>
</div>

<div class="links">
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('dashboard.student_dashboard') }}">Back</a> 
    {% else %}
    <p>Go to <a href="{{ url_for('auth.login') }}">Login</a> page.</p>
    {% endif %}
</div>
</body>
</html>
