<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/add_department.css') }}">
</head>
<body>
    <h1>Add New Department</h1>
    <form method="POST" action="/add_department"> <!-- Corrected action -->
        <!-- <label for="department_id">Department ID:</label> -->
        <input type="text" id="department_id" name="department_id" placeholder="Department ID" spellcheck="false" required><br>

        <!-- <label for="department_name">Department Name:</label> -->
        <input type="text" id="department_name" name="department_name" placeholder="Department Name" spellcheck="false" required><br>
        <div class="button">
            <button type="button" onclick="window.location.href='{{ url_for('departments.view_departments') }}'">Back</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
