<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Student Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/view_full_instructor_info.css') }}">

</head>
<body>

<div class="container">
    <h1>Your Information</h1>
    <div class="instructor_info">
        <p><strong>Instructor ID:</strong> {{ instructor.instructor_id }}</p>
            <p><strong>Name:</strong> {{ instructor.first_name }} {{ instructor.last_name }}</p>
            <p><strong>Date of Birth:</strong> {{ instructor.dob }}</p>
            <p><strong>Sex:</strong> {{ instructor.sex.value if instructor.sex else None }}</p>
            <p><strong>Email:</strong> {{ instructor.email }}</p>
            <p><strong>Phone Number:</strong> {{ instructor.phone_number }}</p>
            <p><strong>Date of Joining:</strong> {{ instructor.doj }}</p>
            <p><strong>Address:</strong> {{ instructor.address }}, {{ instructor.city }}, {{ instructor.state }}, {{ instructor.address_pin }}</p>
            <p><strong>Blood Group: </strong>{{ get_enum_display(instructor.bloodgroup) }}</td>
    </div>
</div>

<div class="links">
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('dashboard.instructor_dashboard') }}">Back</a> 
    {% else %}
    <p><a href="{{ url_for('auth.login') }}">Login</a></p>
    {% endif %}
</div>
</body>
</html>
